/* Style the canvas so that it is centered in the screen */
canvas, #menu {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#menu {
    width: 500px;
}

canvas {
	border: 1px solid grey;
}

button {
	margin: 3px;
}

#errorMessage {
    color: red;
    font-size: .8em;
}